<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOOL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/school.css"

</head>
<body>                   
   <div>
    <img class="img1" src="../images/logo.png" width="100" height="100">
    <div class="p"><h1>GOVERNMENT HIGHER SECONDARY SCHOOL</h1><p>முடியும் வரை முயற்சி செய்
      உன்னால் முடியும் வரை அல்ல
      நீ நினைத்ததை
      முடிக்கும் வரை...
      
      </p></div>
   </div>
    <div class="container p-5 my-5 bg-info text-white">
        <center><h1>RECENT ACHIVEMENTS OF SCHOOL</h1>
        <p>"Success usually comes to those who are too busy to be looking for it." ...</p></center>
      </div>
    <h4>MEDICAL</h4>
    <div class="container-fluid">
      <div class="row">
          <div class="col-6 col-sm-6">
            <div class="container mt-3">
              <h2>Sathishmani</h2>
              <p>Stanley Medical College</p>
              <div class="card">
                <img  class="imgper" src="../images/sathishmani.jpg" alt="Card image" >
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:494 </p>
                  <p class="card-text">12thMark:1180</p>
                  <p class="card-text">Medical Rank:226</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Tamilarasu</h2>
              <p>Madurai Medical College</p>
              <div class="card">
                <img  class="imgper" src="../images/tamilarasu.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:497 </p>
                  <p class="card-text">12thMark:1165</p>
                  <p class="card-text">Neet Mark:465</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Balaji</h2>
              <p>Madurai Medical College</p>
              <div class="card">
                <img  class="imgper" src="../images/balaji.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:480 </p>
                  <p class="card-text">12thMark:538</p>
                  <p class="card-text">Neet Mark:396</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Dharneesh</h2>
              <p>Muthukumran Medical College</p>
              <div class="card">
                <img  class="imgper" src="../images/dharneesh.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:473 </p>
                  <p class="card-text">12thMark:496</p>
                  <p class="card-text">Neet Mark:220</p>
                </div>
              </div>
          </div>
          </div>
      </div>
    </div>
    <h4>ENGINEERING</h4>
    <div class="container-fluid">
      <div class="row">
          <div class="col-6 col-sm-6">
            <div class="container mt-3">
              <h2>Rahul</h2>
              <p>Anna University(MIT)</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:496 </p>
                  <p class="card-text">12thMark:1165</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Dhamotharan</h2>
              <p>Government College of Technology,Coimbatore</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:496 </p>
                  <p class="card-text">12thMark:1165</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Praveen</h2>
              <p>VSB Engineering College</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:477 </p>
                  <p class="card-text">12thMark:475</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Jaisuriya</h2>
              <p>Kongu Engineering College</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:478 </p>
                  <p class="card-text">12th cuttoff:174.5</p>
                </div>
              </div>
          </div>
          </div>
      </div>
    </div>
    <h4>AGRICULTURE</h4>
    <div class="container-fluid">
      <div class="row">
          <div class="col-6 col-sm-6">
            <div class="container mt-3">
              <h2>Card Image</h2>
              <p>Image at the top (card-img-top):</p>
              <div class="card">
                <img  class="imgper" src="../images/sathish.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:496 </p>
                  <p class="card-text">12thMark:1165</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Card Image</h2>
              <p>Image at the top (card-img-top):</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:496 </p>
                  <p class="card-text">12thMark:1165</p>
                </div>
              </div>
          </div>
          </div>
      </div>
    </div>
    <h4>ARTS</h4>
    <div class="container-fluid">
      <div class="row">
          <div class="col-6 col-sm-6">
            <div class="container mt-3">
              <h2>Card Image</h2>
              <p>Image at the top (card-img-top):</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:496 </p>
                  <p class="card-text">12thMark:1165</p>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6  col-sm-6">
            <div class="container mt-3">
              <h2>Card Image</h2>
              <p>Image at the top (card-img-top):</p>
              <div class="card">
                <img  class="imgper" src="../images/suriya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">10th Mark:496 </p>
                  <p class="card-text">12thMark:1165</p>
                </div>
              </div>
          </div>
          </div>
      </div>
    </div>
</body>
</html>